*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration:none;
	color: black;
}
.f1{
	background-color: white;
	width: 100%;
	height: 70px;
}
.menu{
	font-family: Arial, sans serif;
	font-size: 15px;
	text-align: center;
}
.menu ul li{
	display: inline-block;
	padding: 25px 20px;
}
#img1{
	width:3.5%;
	position:absolute;
	left:5%;
	top:8px;
}
.f2{
	background-color: skyblue;
	width: 100%;
	height: 100px;
}
.f2 h1{
	color: white;
	font-family: Tahoma, sans serif;
	padding: 30px 50px;
}
.f3{
	background-color: white;
	width: 100%;
	height: 550px;
}
.button1{
	background-color: #2C5BB6;
	border: white  solid;
	border-radius: 10px;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.button2{
	background-color: red;
	border: white  solid;
	border-radius: 10px;
	color: white;
	padding: 15px 170px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
#img2{
	width: 35%;
	position: absolute;
	left: 8%;
	top: 195px;
}
#h2-1{
	font-family: Tahoma, sans serif;
	padding-top: 100px;
	padding-left: 53%;
}
#p1{
	color: red;
	font-weight: 800;
	font-size: 30px;
	font-family: Arial, sans serif;
	padding-top: 10px;
	padding-left: 53%;
}
#p2{
	font-size: 20px;
	font-family: Arial, sans serif;
	padding-left: 53%;
}
#p3{
	font-size: 20px;
	font-family: Arial, sans serif;
	padding-top: 15px;
	padding-left: 53%;
}
#p4{
	font-size: 20px;
	font-family: Arial, sans serif;
	padding-top: 10px;
	padding-left: 53%;
}
#p5{
	font-size: 20px;
	font-family: Arial, sans serif;
	padding-top: 50px;
	padding-left: 53%;
}
#p6{
	font-size: 15px;
	font-family: Arial, sans serif;
	padding-top: 10px;
	padding-left: 58%;
}
.f4{
	background-color: white;
	width: 100%;
	height: 550px;
}
#img3{
	width: 34%;
	position: absolute;
	left: 10%;
	top: 760px;
}
.f5{
	background-color: white;
	width: 100%;
	height: 550px;
}
#img4{
	width: 32%;
	position: absolute;
	left: 10%;
	top: 1300px;
}
.f6{
	background-color: white;
	width: 100%;
	height: 550px;
}
#img5{
	width: 25%;
	position: absolute;
	left: 13%;
	top: 1870px;
}
.f7{
	background-color: white;
	width: 100%;
	height: 550px;
}
#img6{
	width: 25%;
	position: absolute;
	left: 13%;
	top: 2420px;
}
.column{
	float: left;
	width: 33.33%;
	height: 300px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
#h2-2{
	font-family: Tahoma, sans serif;
	padding-top: 40px;
	text-align: center;
}
#h3-1{
	font-family: Tahoma, sans serif;
	padding-top: 250px;
	padding-left: 27%;
}
#h3-2{
	font-family: Tahoma, sans serif;
	padding-top: 250px;
	padding-left: 23%;
}
#h3-3{
	font-family: Tahoma, sans serif;
	padding-top: 250px;
	padding-left: 32%;
}
#p7{
	line-height: 20px;
	padding-left: 15%;
	text-align: justify;
    width: 300px;
	font-size: 15px;
	font-family: Arial, sans serif;
}
.f8{
	background-color: #DCDCDC;
	width: 100%;
	height: 100px;
	text-align: center;
}
#p10{
	padding-top: 50px;
}
#img7{
	width:2%;
	position:absolute;
	left:48%;
	top:2940px;
}
#img8{
	width:2%;
	position:absolute;
	left:51%;
	top:2940px;
}